<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applabssgonzalezjgonzalezjbultron">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Base De Datos"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Comprador.CompradorActivity"></activity>
        <activity
            android:name=".Login.MainActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vendedor.VendedorActivity"></activity>
        <activity
            android:name=".Vendedor.ActualizarArticulosActivity"
            android:parentActivityName=".Vendedor.VendedorActivity"></activity>
        <activity
            android:name=".Vendedor.EliminarArticuloActivity"
            android:parentActivityName=".Vendedor.VendedorActivity"></activity>
        <activity
            android:name=".Vendedor.RegistrarArticulosActivity"
            android:parentActivityName=".Vendedor.VendedorActivity"></activity>
        <activity
            android:name=".Login.RegistroActivity"
            android:parentActivityName=".Login.MainActivity"></activity>
    </application>

</manifest>